<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <title>Document</title>
</head>
<body ng-app="Demo">
  <div ng-controller="myController" ng-init="students = ['AAA', 'BBB', 'CCC']">
      <input type="checkbox" ng-model="myVar">yes</input>
      <div ng-hide="myVar">
        <ol>
          <li ng-repeat="student in students">
            {{student}}
          </li>
        </ol>
      </div>
      <div ng-include>
      </div>
      <div wellcome-text></div>
  </div>


  <script>
    let myApp = angular.module('Demo', []);
    myApp.controller('myController', ($scope) => {

    }).directive('wellcomeText', () => {
      return {
        templateUrl: '../JavaScript/Examp/Validation.html'
      }
    });
  </script>
</body>
</html>
